

.list {
    max-width: 1200px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    &:hover {
        background-color: #0d6efd;
        a {
            color: #fff;
        }
    }
    a {
    text-decoration: none;
    
    }
}